 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 600px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 89px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 300;
  width: 780px;
  margin: 22px auto 60px;
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-2 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1120px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 671px;
  margin: 93px 21px 0 auto;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 508px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  width: 159px;
  margin: 17px auto 0;
}

.u-section-2 .u-gallery-1 {
  width: 500px;
  height: 400px;
  margin: 11px auto 0;
}

.u-section-2 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto auto;
  grid-gap: 21px 21px;
}

.u-section-2 .u-gallery-item-1 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-2 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-3 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-4 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-5 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-6 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-7 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-8 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-9 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-10 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-10 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-11 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-11 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-12 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-12 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-text-2 {
  margin: 11px 30px 0 auto;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 397px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 7px;
}

.u-section-2 .u-text-3 {
  font-size: 3rem;
  width: 212px;
  margin: 21px auto 0;
}

.u-section-2 .u-group-1 {
  min-height: 265px;
  margin: 8px 0 0;
}

.u-section-2 .u-container-layout-3 {
  padding-left: 30px;
  padding-right: 30px;
  max-height: 120px;
}

.u-section-2 .u-text-4 {
  margin: 16px auto 0 1px;
}

.u-section-2 .u-text-5 {
  margin: 11px 1px 0;
}

.u-section-2 .u-text-6 {
  margin: 10px 16px 0 auto;
}

.u-section-2 .u-text-7 {
  margin: 8px 53px 0 auto;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-layout-wrap-2 {
  width: 334px;
  margin: -910px auto 0 30px;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 338px;
}

.u-section-2 .u-container-layout-4 {
  padding: 0 17px;
}

.u-section-2 .u-image-1 {
  height: auto;
  margin: 24px 0 0;
}

.u-section-2 .u-icon-1 {
  width: 41px;
  height: 41px;
  margin: -41px 0 0 auto;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 184px;
}

.u-section-2 .u-container-layout-5 {
  padding: 0 30px;
}

.u-section-2 .u-text-8 {
  margin: 16px auto 0;
}

.u-section-2 .u-text-9 {
  margin: 10px auto 0;
}

.u-section-2 .u-custom-php-1 {
  min-height: 59px;
  height: auto;
  width: 147px;
  margin: -87px auto 0;
}

.u-section-2 .u-text-10 {
  margin: 38px auto 0 66px;
}
.u-section-2 .u-text-11 {
  margin: 10px auto 0px;
}

.u-section-2 .u-custom-php-2 {
  min-height: 59px;
  height: auto;
  width: 147px;
  margin: -83px auto 0;
}

.u-section-2 .u-custom-php-3 {
  min-height: 59px;
  height: auto;
  width: 147px;
  margin: -23px auto 0;
}

.u-section-2 .u-list-1 {
  width: 194px;
  margin: 53px auto 60px 110px;
}

.u-section-2 .u-repeater-1 {
  grid-gap: 0px 0px;
  grid-template-columns: 100%;
  min-height: 303px;
}

.u-section-2 .u-container-layout-6 {
  padding: 10px 0 0;
}

.u-section-2 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 0 auto;
}

.u-section-2 .u-container-layout-7 {
  padding: 10px 0 0;
}

.u-section-2 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 0 auto;
}

.u-section-2 .u-container-layout-8 {
  padding: 10px 0 0;
}

.u-section-2 .u-btn-5 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 0 auto;
}

.u-section-2 .u-container-layout-9 {
  padding: 10px 0 0;
}

.u-section-2 .u-btn-6 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-layout-wrap-1 {
    width: 489px;
  }

  .u-section-2 .u-gallery-1 {
    width: 429px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(4, auto);
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 367px;
  }

  .u-section-2 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 299px;
  }

  .u-section-2 .u-image-1 {
    height: NaNpx;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1599px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 558px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 604px;
  }

  .u-section-2 .u-gallery-1 {
    height: 500px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-gap: 3px 3px;
    grid-template-columns: auto auto auto auto auto;
  }

  .u-section-2 .u-layout-wrap-2 {
    width: 220px;
    margin-top: -1489px;
    margin-left: 53px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 233px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-2 .u-custom-php-1 {
    margin-top: -58px;
  }

  .u-section-2 .u-text-10 {
    width: auto;
    margin-top: 9px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-list-1 {
    margin: -305px 84px 60px auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1868px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 576px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 720px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-gallery-1 {
    height: 700px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-gap: 0px 0px;
    grid-template-columns: auto auto auto;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-wrap-2 {
    margin-top: -1731px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 46px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-8 {
    margin-top: 25px;
  }

  .u-section-2 .u-text-9 {
    width: auto;
    margin-top: 8px;
    margin-left: 0;
  }

  .u-section-2 .u-custom-php-1 {
    margin-top: -85px;
  }

  .u-section-2 .u-text-10 {
    margin-top: 38px;
  }

  .u-section-2 .u-list-1 {
    margin-top: -356px;
    margin-right: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2162px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 46px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-gallery-1 {
    height: 1175px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 165px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
  }

  .u-section-2 .u-layout-wrap-2 {
    margin-top: 0px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 275px;
  }

  .u-section-2 .u-text-8 {
    margin-top: 80px;
  }

  .u-section-2 .u-custom-php-1 {
    margin-top: -91px;
  }

  .u-section-2 .u-text-10 {
    margin-top: 44px;
    margin-left: auto;
  }

  .u-section-2 .u-list-1 {
    margin-top: 60px;
    margin-right: auto;
  }
}

.u-section-2 .u-btn-4,
.u-section-2 .u-btn-4:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, custom-border, border-top-width, border-left-width, border-right-width, border-bottom-width, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-btn-4.u-btn-4.u-btn-4:hover:before {
  background-color: transparent !important;
}

.u-section-2 .u-btn-4.u-btn-4.u-btn-4:hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-2 .u-btn-4 {
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-2 .u-btn-4.u-btn-4.u-btn-4.hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-2 .u-btn-4 {
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-2 .u-btn-3,
.u-section-2 .u-btn-3:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, custom-border, border-top-width, border-left-width, border-right-width, border-bottom-width, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-btn-3.u-btn-3.u-btn-3:hover:before {
  background-color: transparent !important;
}

.u-section-2 .u-btn-3.u-btn-3.u-btn-3:hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-2 .u-btn-3 {
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-2 .u-btn-3.u-btn-3.u-btn-3.hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-2 .u-btn-3 {
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-2 .u-btn-5,
.u-section-2 .u-btn-5:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, custom-border, border-top-width, border-left-width, border-right-width, border-bottom-width, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-btn-5.u-btn-5.u-btn-5:hover:before {
  background-color: transparent !important;
}

.u-section-2 .u-btn-5.u-btn-5.u-btn-5:hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-2 .u-btn-5 {
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-2 .u-btn-5.u-btn-5.u-btn-5.hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-2 .u-btn-5 {
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-2 .u-btn-6,
.u-section-2 .u-btn-6:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, custom-border, border-top-width, border-left-width, border-right-width, border-bottom-width, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-btn-6.u-btn-6.u-btn-6:hover:before {
  background-color: transparent !important;
}

.u-section-2 .u-btn-6.u-btn-6.u-btn-6:hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-2 .u-btn-6 {
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-2 .u-btn-6.u-btn-6.u-btn-6.hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-2 .u-btn-6 {
  border-style: solid !important;
  border-width: 0px !important;
}